
body{
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); 
    background-size: 200%;
    background-position: left;
    animation: Backgroundchange 10000ms linear infinite alternate;
}

@keyframes Backgroundchange {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

